.history_modal .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.history_modal .head h3 {
    margin-bottom: 0;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 700;
}

.history_modal .head svg {
    cursor: pointer;
}

.application_main .plot_table {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 15px;
}

.application_main .plot_search {
    width: 250px;
    display: flex;
    align-items: center;
    gap: 0 4px;
    border-radius: 5px;
    padding: 0;
    border: 1px solid #78787885;
}

.application_main .plot_search input {
    width: 100%;
    border: none;
    font-size: 13px;
    color: #787878;
    padding: 0 10px;
}

.application_main .plot_search input:focus-visible {
    outline: none;
}

.application_main .plot_search svg{
    cursor: pointer;
    background-color: #003a70;
    color: #fff;
    padding: 5px 12px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}