.documents_tabs{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
    margin: 50px 15px 20px 15px;
}

.documents_tabs button {
    background-color: initial;
    background-image: url("../../../images/inactive_tab.png");
    background-size: 100% 100%;
    border: none;
    color: #003a70;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 40px;
}

.documents_tabs button.active {
    background-image: url("../../../images/active_tab.png");
    background-size: 100% 100%;
    color: #fff;
}

.doc_details{
    padding: 15px;
}

.doc_details h6{
    font-weight: 600;
}

.doc_details div{
    border-bottom: 1px solid lightgrey;
    margin-bottom: 7px;
}

.req_documents h6{
    border-bottom: 1px solid lightgray;
    padding-bottom: 4px;
    margin-bottom: 15px;
    font-weight: 700;
    margin-top: 10px;
}