.sidebar_main ul{
    list-style: none;
    padding-left: 0;
}

.sidebar_main ul li{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
    color: hsla(0, 0%, 47%, 1);
    font-weight: 600;
}

.sidebar_main ul li svg{
    font-size: 18px;
}

.sidebar_main ul li.side_active{
    background-color: #F9F9F9;
    color: #003a70;
    border-right: 4px solid #003a70;
    font-weight: 600;
}

.logout_modal .modal-body{
    text-align: center;
    padding: 40px 20px;
}

.logout_modal .modal-body h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.logout_modal .modal-body button{
    width: 30%;
    padding: 5px;
    border: none;
    background-color: #15a615;
    color: #fff;
    font-weight: 600;
    border-radius: 7px;
}

.logout_modal .modal-body button.no_btn{
    background-color: red;
}

@media (max-width: 1000px) {
    .sidebar_main ul li{
        padding: 10px 5px;
        font-size: 14px;
    }
}