.sidebar_main ul{
    list-style: none;
    padding-left: 0;
}

.sidebar_main ul li{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #000000a6;
    font-weight: 600;
}

.sidebar_main ul li svg{
    font-size: 18px;
}

.sidebar_main ul li.side_active{
    background-color: #F9F9F9;
    color: #003a70;
    border-right: 4px solid #003a70;
    font-weight: 600;
}

.logout_modal .modal-body{
    text-align: center;
    padding: 40px 20px;
}

.logout_modal .modal-body h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.logout_modal .modal-body button{
    width: 30%;
    padding: 5px;
    border: none;
    background-color: #15a615;
    color: #fff;
    font-weight: 600;
    border-radius: 7px;
}

.logout_modal .modal-body button.no_btn{
    background-color: red;
}

.close_sidebar{
    text-align: end;
}

.dashboard_div.close_leftsider .close_sidebar {
    text-align: center;
}

.close_sidebar svg{
    font-size: 27px;
    margin-right: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.dashboard_div.close_leftsider .close_sidebar svg{
    margin-right: 0;
}

@media (max-width: 1000px) {
    .sidebar_main ul li{
        padding: 10px 5px;
        font-size: 14px;
    }
}