.department_box{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.department_box h5 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #003a70;
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}

.department_box div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 7px;
    margin-bottom: 10px;
}

.department_box h6{
    margin-bottom: 0;
}

.department_box p{
    margin-bottom: 0;
    font-weight: 700;
}

.disabled_select div{
    background-color: #f4f4f4;
}

.view_btn{
    border-bottom: none !important;
    margin-bottom: 0 !important;
}

.view_btn button{
    width: 100%;
    color: #fff;
    background-color: #003a70;
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 15px;
}