@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
}

img {
  max-width: 100%;
}


.dashboard_div {
  display: flex;
  padding: 15px 30px;
  background: #F6F9FC;
  min-height: 100vh;
  gap: 12px;
  padding-top: 100px;
  transition: all 0.3s ease;
}

.dashboard_div .left_dashboard {
  width: 20%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(170, 170, 170, 0.16);
  padding: 7px 0;
  transition: all 0.3s ease;
}

.dashboard_div.close_leftsider .left_dashboard{
  width: 5%;
}

.dashboard_div .right_dashboard {
  width: 80%;
  transition: all 0.3s ease;
}

.dashboard_div.close_leftsider .right_dashboard{
  width: 95%;
}

.dashboard_div.close_leftsider .sidebar_main ul li span{
  display: none;
}

.dashboard_div.close_leftsider .sidebar_main ul li{
  justify-content: center;
  padding: 13px 5px;
}


.department_box {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.department_box h5 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #003a70;
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
}

.department_box div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.department_box h6 {
  margin-bottom: 0;
}

.department_box p {
  margin-bottom: 0;
  font-weight: 700;
}

.disabled_select div {
  background-color: #f4f4f4;
}

.view_btn {
  border-bottom: none !important;
  margin-bottom: 0 !important;
}

.view_btn button {
  width: 100%;
  color: #fff;
  background-color: #003a70;
  border: none;
  padding: 7px;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 15px;
}

.modal-content {
  box-shadow: -1px -1px 20px 2px #fff !important;
  border: none !important;
}

@media (max-width: 992px) {
  .dashboard_div .left_dashboard {
    display: none;
  }

  .dashboard_div .right_dashboard {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .dashboard_div {
    padding: 15px 15px;
    padding-top: 100px;
  }
}